// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 800px;
$layout-breakpoint-xsmall: 480px;

// Colors
$base: #800022;
$secondary: #f1f3f5;

$background: $base;

$white: #fff;
$black: #222;
$grey: #646a7a;
$blue: #071231;
