body {
  min-height: 100vh;
  overflow-x: hidden;
  background: $background;
  white-space: pre-line;
}
html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
